@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: "Digital";
  src: url(./font/Digital\ Dismay.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

button {
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
}

body {
  height: 100vh;
  object-fit: contain;
  background-image: url(./assets/background.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pokedex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* ──────────────────────────────────────────────────────────────────────────────── */
